# .NET
**/bin/
**/obj/
*.user
*.suo
*.sln.docstates

# Visual Studio
.vs/
*.vscode/
*.sln.ide

# Rider
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

Project/obj/Project.csproj.nuget.dgspec.json
Project/obj/Project.csproj.nuget.g.props
Project/obj/project.assets.json
Project/obj/project.nuget.cache
