@page "/start"
@inject NavigationManager Navigation

<PageTitle>Start</PageTitle>
<div>
    FEATURE DESCRIPTION WILL BE PROVIDED HERE
</div>


<button class="btn btn-primary" @onclick="GoToTextReading">Start reading</button>

@*@if (!string.IsNullOrEmpty(Text) && TextVisibility)
{
    <p>@Text</p>
}

<button class="btn btn-primary" @onclick="HideText">Stop</button>*@

@code {

    private string Text;
    private bool TextVisibility = true;

    private void GoToTextReading()
    {
        Navigation.NavigateTo("/read-text");
    }
   @* private void ShowText()
    {
        Text = "Hello!";
        TextVisibility = true;
    }

    private void HideText()
    {
        TextVisibility = false;
    }*@
}
