@page "/read-text"
@inject NavigationManager Navigation
@inject ReadingTimeService ReadingTimeService 
@inject HttpClient HttpClient
@using Shared.Models;

<h3>Read text</h3>

<div>
@if (fileContent == null)
{
    <p>Loading...</p>
}
else
{
    <p>@fileContent</p>
    <p>@ParagraphWordCount.ToString()</p>
}
</div>


<button class="btn btn-primary" @onclick="StopStopwatch">Finish reading</button>

@code {
    private int timeElapsed = 0;
    private System.Timers.Timer timer;
    private string fileContent = string.Empty;
    private ParagraphWordCount ParagraphWordCount;

    protected override async Task OnInitializedAsync()
    {
        string textId = "1_text.txt";
        try
        {
            // Call the API to get the file content
            fileContent = await HttpClient.GetStringAsync("/api/files/read-text-file?fileName=1_text.txt");
            ParagraphWordCount = new ParagraphWordCount(CountWords(fileContent), textId); //calculate and store word count
        }
        catch (Exception ex)
        {
            fileContent = $"Error fetching file: {ex.Message}";
        }

        // Start the stopwatch on initialization
        await StartStopwatch();

        // Set up the timer for UI updates

    }
    private int CountWords(string text)
    {
        if (string.IsNullOrWhiteSpace(text))
            return 0;

        //splits the text by words and counts them
        return text.Split(new[] { ' ', '\n', '\r' }, StringSplitOptions.RemoveEmptyEntries).Length;
    }

    private async Task StartStopwatch()
    {
        await HttpClient.GetAsync("api/timer/start");
    }

    private async Task StopStopwatch()
    {
        await HttpClient.GetAsync("api/timer/stop");
    
            // Navigate to the next page
            Navigation.NavigateTo("/quiz");
        
    }

}
