@page "/results"
@using Shared.Models
@using Project.Enums
@inject ReadingTimeService ReadingTimeService
@inject QuizScoreService QuizScoreService
<PageTitle>Results</PageTitle>
Print all users results from file and compare 

<h2>Previous Reading Times</h2>
<ul>
    @foreach (var time in ReadingTimeService.GetPastTimes()) // show past 3 reading times
    {
        <li>@time seconds</li>
    }
</ul>

@if (userResult != null)
{
    <p><strong>Name:</strong> @userResult.Name</p>
    <p><strong>Score:</strong> @userResult.QuizScore</p>
    <p><strong>Level:</strong> @QuizScoreService.GetScoreLevel(userResult.QuizScore)</p>
}
else
{
    <p>No results available.</p>
}


@code {
    private UserRecord userResult;

    protected override async Task OnInitializedAsync()
    {
        // userRecord from local storage
        userResult = await ReadingTimeService.GetUserRecordAsync();
    }
}