@page "/"
@inject NavigationManager Navigation

<PageTitle>Start</PageTitle>
<div>
    FEATURE DESCRIPTION WILL BE PROVIDED HERE
</div>


<button class="btn btn-primary" @onclick="GoToTextReading">Start reading</button>


@code {

    private void GoToTextReading()
    {
        Navigation.NavigateTo("/read-text");
    }
}
