@page "/"
@using Shared.Models
@inject NavigationManager Navigation
@using System.Text.Json
@using Shared.Models.DTOs
@inject HttpClient HttpClient
@inject QuizScoreService QuizScoreService

<PageTitle>Start</PageTitle>
<div class="container">
    <div class="content">
        <h1 class="title">Test Your Speed Reading Skills!</h1>
        <p class="description">Challenge yourself and see how quickly you can read and understand the text.</p>
        <button class="btn btn-primary start-button" @onclick="GoToTextReading">Start reading</button>
    </div>
</div>

<style>
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
    .content{
        text-align: center;
        bacground: lightBlue;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .title {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 10px;
        color: #343a40;
    }
    .description {
        font-size: 1.2rem;
        margin-bottom: 20px;
        color: #6c757d;
    }
    .start-button {
        font-size: 1.2rem;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #007bff;
        border: none;
        transition: background-color 0.3s ease;
    }

</style>

<h3>Top User Attempts</h3>
<small class="table-subtitle">(by words per minute)</small>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Rank</th>
            <th>User</th>
            <th>Words per minute</th>
            <th>Answers Count</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < _attempts.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@_attempts[i].UserName</td>
                <td>@_attempts[i].Wpm</td>
                <td>@_attempts[i].Score</td>
            </tr>
        }
    </tbody>
</table>

@code {

    private List<AttemptEntity> _attempts = new List<AttemptEntity>();
    protected override async Task OnInitializedAsync()
    {
        _attempts = await HttpClient.GetFromJsonAsync<List<AttemptEntity>>("/api/attempt/get-best-attempts");
        
    }
    private void GoToTextReading()
    {
        Navigation.NavigateTo("/quiz");
    }

}
