@page "/"
@inject NavigationManager Navigation

<PageTitle>Start</PageTitle>
<div>
    Test your speed reading abilities! 
    </div>


<button class="btn btn-primary" @onclick="GoToTextReading">Start reading</button>


@code {

    private void GoToTextReading()
    {
        Navigation.NavigateTo("/quiz");
    }
}
